.aboutimgCont{
    position: relative;
}
.aboutImg{
    height: 100vh;
    width: 100%;
}
.bookAbout{
    padding-left: 6rem;
    font-size: 18px;
    
}
.aboutImgText{
    position: absolute;
    top: 45%;
    left: 6rem;
    color: #fff;
    text-align: left;
    font-weight: bold;
}
.aboutButton{
    position: absolute;
    top: 75%;
    left: 6rem;
    padding: 20px 40px;
    font-weight: 500;
    text-transform: uppercase;
}
.row-about{
    padding: 7rem 0;
}
.describeHead{
    font-weight: bold;
    text-align: start;
    padding-left: 6rem;
    margin-bottom: 2rem;
}
.describeText{
    padding-left: 6rem;
    padding-right: 10rem;
    text-align: start;
    font-weight: 500;
    font-size: 16px;
    color: #858282;
}
.describeButton{
    margin-left: 6rem;
}
.aboutGall{
    display: flex;
}
.tall1{
    margin-top: 20%;
}
.servicesText{
    color: #000;
    text-align: center;
}
.wrapperHead{
    font-weight: 700;
    color: #250e01;
    margin-bottom: 0;
}
.serviceWrapper1{
    display: flex;
    gap: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
    justify-content: center;
}
.serviceWrapper2{
    display: flex;
    gap: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
    justify-content: center;
}
.wrapper1{
    display: grid;
    padding: 2rem 3rem 2rem 3rem;
    text-align: start;
    border-radius: 2rem;
    background-color: #fdf0bb;
    width: 50rem;
    height: 30rem;
    font-size: 14px;
    color: #999696;
    font-weight: 300;
}
.wrapper2{
    display: grid;
    padding: 2rem 3rem 2rem 3rem;
    text-align: start;
    border-radius: 2rem;
    background-color: #fdf0bb;
    width: 22rem;
    height: 30rem;
    font-size: 14px;
    color: #999696;
    font-weight: 300;
}
.listcontain{
    padding-left: 0;
}
.servicelist{
    font-weight: 500;
    list-style: none;
    text-align: start;
}
.serviceButton{
    text-align: end;
    font-weight: 700;
    margin-bottom: 0;
}
.testimonials{
    margin-top: 5rem;
    background-image: url(./Sencholaimages/3/Rectangle\ 4629.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: relative;
}
.reviewrow{
    display: flex;
    padding: 5rem;
    gap: 7rem;
}
.reviewcol{
    box-sizing: border-box;
    padding: 2rem 3rem;
    width: 25rem;
    height: auto;
    border-radius: 15%;
    text-align: center;
    background-color: #e2dcdc;
    font-size: 14px;
}
.reviewpic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.nametest{
    font-size: 15px;
    margin: 0 0;
}
.starstest{
    margin-bottom: 20px;
    color: #d39a27;
}




@media (max-width:992px){
    .serviceWrapper1{
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content:space-evenly;
    }
    .wrapper1{
        padding: 2rem;
        width: 80rem;
    }
    .wrapper2{
        padding: 2rem;
        width: 17rem;
    }
    .reviewrow{
        display: flex;
        flex-wrap: nowrap;
        gap: 3rem;
    }
    .describeText{
        padding-right: 4rem;
    }
}
@media (max-width:768px){
    .aboutButton{
        padding: 10px 20px;
    }
    .aboutGall{
        justify-content: center;
    }
    .serviceWrapper1{
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrapper1{
        width: 25rem;
    }
    .serviceWrapper2{
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrapper2{
        width: 25rem;
    }
    .reviewrow{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem;
        gap: 2rem;
    }
    .reviewcol{
        padding: 1rem;
    }
    .starstest{
        margin-bottom: 5px;
    }
}
@media(max-width:576px){
    .aboutImgText{
        left: 8px;
    }
    .aboutButton{
        left: 8px;
    }
    .reviewrow{
        display: flex;
        flex-direction: column;
    }
    .aboutGall{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row-about{
        padding: 3rem 0;
    }
}
@media (max-width:476px){
    .aboutImgText{
        left: 8px;
        top: 40%;
    }
    .aboutButton{
        left: 8px;
        padding: 5px 10px;
    }
    .row-about{
        padding: 2rem 0;
    }
    .describeHead{
        text-align: center;
        padding-left: 0;
        margin-bottom: 0;
    }
    .describeText{
        padding: 2rem;
        margin-bottom: 0;
    }
    .describeButton{
        margin-left: 35%;
    }
    .aboutGall{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrapper1{
        width: 20rem;
    }
    .wrapper2{
        width: 20rem;
    }
    .reviewcol{
        padding: 1rem;
    }
    
    .reviewrow{
        padding: 4rem;
    }
}