.container{
    display: flex;
    align-items: center;
    padding: 50px;
    text-align: start;
    font-size: 15px;
}
.signHead{
    text-transform: uppercase;
    font-weight: bold;
}
.signuptext{
    flex: 1;
    padding: 20p;
}
.label{
    font-weight: 500;
}
.form-control{
    font-size: 12px;
}
.custom-input-label{
    font-size: 12px;
    font-weight: bold;
}
.divider{
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1ps solid #000;
    text-align: center;
}
.line{
    flex-grow: 1;
    height: 1px;
    background-color: #000;
    margin: 0px 10px;
}
.buttonSign{
    padding: 5px 15px;
    text-align: center;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 0.3px 0.3px #747272;
}
.imageSignup{
    flex: 1;
    padding: 20px;
}
.img-fluids{
    width: 100%;
    height: 80vh;

}

@media (max-width:992px){
    .container{
        padding: 50px;
        display: block;
    }
    .img-fluid{
        height:auto;
    }
}
@media (max-width:768px){
    .container{
        padding: 25px;
        display: block;
    }    
    .img-fluid{
        height:auto;
    }
}
@media (max-width:576px){
    .container{
        padding: 5px;
        display: block;
    }
    .img-fluid{
        height:auto;
    }
}