.Contact-form {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
}

.Contact-form h2 {
  color: #246b3c;
  font-weight: bold;
}

.Contact-form h5 {
  font-weight: bold;
}